$pagecolorlight: #f8f4ed;

//3eb9e7 light blue
//0068ff link color
//2225ae hover color
$dpla1: darken(#0d5876, 10%); //#0a2a37;
$dpla2: #fff; //#0d5876; //#127ea9; //#00b0f0; //#163f51;
$dpla3: #0068ff;

$linkcolor: $dpla3;
$pagetextcolor: $dpla1;

@import "~bootstrap/dist/css/bootstrap.css";
@import "node_modules/opds-web-client/lib/stylesheets/app.scss";

.site-header {
  padding: 20px;
  color: black;
}

.dpla-header {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;
  color: black;
  background-color: white;


  ul {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-right: 0.75rem;
    }
  }

  ul:last-of-type {
    flex-grow: 1;
    justify-content: flex-end;
  }

  a, a:visited, a:hover {
    color: black;
  }

  svg {
    fill: white;
  }

  .divider {
    display: inline-block;
    height: 20px;
    width: 1px;
    background-color: rgba(255,255,255,0.6);
    margin-right: 0.75rem;
  }
}

/* BiblioBoard's feed has search, but I believe it searches all their content, not just the DPLA catalogs. */
.search {
  display: none;
}

/* Not applicable for this catalog since it's only for browsing. */
.circulation-links {
  display: none;
}

.breadcrumbs-or-search-wrapper {
  display: none !important;
}

.logo {
  height: 2.2rem;
  width: 18rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}